@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;600;700&display=swap");
.navbar-brand {
  font-size: 1.5rem;
  color: #000;
}

.nav-link {
  color: #000;
}

.navbar-toggler .bar {
  background: #000;
  transition: all 0.3s ease;
}

#home {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0) url(/img/home-bg.png) no-repeat scroll center 100%/cover;
  background-attachment: fixed;
  color: #000;
  position: relative;
  text-align: center;
  isolation: isolate;
  font-family: "Montserrat", sans-serif;
}
#home::after {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  inset: 0;
  z-index: -1;
}
#home .container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#home .top-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
#home .text-slider {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
#home .skills {
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: #626262;
  margin-top: 1.5rem;
  letter-spacing: 2.5px;
  line-height: 24px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#home .skills .skill {
  position: relative;
}
#home .skills .skill::after {
  position: absolute;
  background: #1f1e26 none repeat scroll 0 0;
  content: "";
  width: 5px;
  height: 5px;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(45deg);
}
#home .skills .skill:last-child::after {
  display: none;
}
#home .social-media-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60%;
  margin: 0 auto;
  list-style: none;
}
#home .social-media-section .social a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1f1e26;
}
#home .social-media-section .social a i {
  font-size: 1rem;
  color: #1f1e26;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #000;
}

.nav-link {
  color: #000;
}

.navbar-toggler .bar {
  background: #000;
  transition: all 0.3s ease;
}

#home {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0) url(/img/home-bg.png) no-repeat scroll center 100%/cover;
  background-attachment: fixed;
  color: #000;
  position: relative;
  text-align: center;
  isolation: isolate;
  font-family: "Montserrat", sans-serif;
}
#home::after {
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  inset: 0;
  z-index: -1;
}
#home .container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#home .top-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
#home .text-slider {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
#home .skills {
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: #626262;
  margin-top: 1.5rem;
  letter-spacing: 2.5px;
  line-height: 24px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#home .skills .skill {
  position: relative;
}
#home .skills .skill::after {
  position: absolute;
  background: #1f1e26 none repeat scroll 0 0;
  content: "";
  width: 5px;
  height: 5px;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(45deg);
}
#home .skills .skill:last-child::after {
  display: none;
}
#home .social-media-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60%;
  margin: 0 auto;
  list-style: none;
}
#home .social-media-section .social a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1f1e26;
}
#home .social-media-section .social a i {
  font-size: 1rem;
  color: #1f1e26;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

section {
  padding: 50px 0;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  background: transparent;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 100;
}
.navbar > .container, .navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -1px;
  margin-right: 1rem;
  font-weight: 700;
}
.navbar .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
}
.navbar .navbar-collapse .navbar-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  display: block;
  position: relative;
  text-align: center;
  font-weight: 600;
  margin: 0 0.8rem;
  padding: 1rem 0;
}
.navbar .navbar-toggler {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
  background: transparent;
  border: 0;
  outline: none;
  border-radius: 0;
}
.navbar .navbar-toggler .bar {
  width: 1.8rem;
  height: 4px;
  border-radius: 4px;
  margin: 4px 0;
}
.navbar .navbar-toggler .bar:nth-child(2) {
  width: 65%;
}
.navbar .navbar-toggler.change .bar:first-child {
  transform: translate(0, 8px) rotate(-45deg);
}
.navbar .navbar-toggler.change .bar:nth-child(2) {
  opacity: 0;
}
.navbar .navbar-toggler.change .bar:last-child {
  transform: translate(0, -8px) rotate(45deg);
}
.navbar .collapse:not(.show) {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-top: 0;
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.order-first {
  order: -1 !important;
}

.order-1 {
  order: 1 !important;
}

.order-2 {
  order: 2 !important;
}

.order-3 {
  order: 3 !important;
}

.order-4 {
  order: 4 !important;
}

.order-5 {
  order: 5 !important;
}

.order-last {
  order: 6 !important;
}

@media (max-width: 576px) {
  #home {
    height: 60vh;
  }
  #home html {
    font-size: 12px;
  }
  #home .text-slider {
    font-size: 1.5rem;
  }
  #home .skill::after {
    display: none;
  }
}
@media (min-width: 576px) {
  html {
    font-size: 13px;
  }
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 720px;
  }
  .col-md {
    flex: 1 0 0%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .order-md-first {
    order: -1 !important;
  }
  .order-md-1 {
    order: 1 !important;
  }
  .order-md-2 {
    order: 2 !important;
  }
  .order-md-3 {
    order: 3 !important;
  }
  .order-md-4 {
    order: 4 !important;
  }
  .order-md-5 {
    order: 5 !important;
  }
  .order-md-last {
    order: 6 !important;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
  .navbar {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navbar .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
  .navbar .navbar-collapse .navbar-nav {
    flex-direction: row;
    gap: 1rem;
  }
  .navbar .navbar-collapse .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
  }
  .navbar .navbar-toggler {
    display: none;
  }
  .navbar {
    background: #fff;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));
  }
  .navbar .navbar-brand {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 2rem;
  }
  .navbar .nav-link {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 0.7rem;
    opacity: 0.7;
    transition: all 0.3s ease;
    position: relative;
  }
  .navbar .nav-link::before {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #000;
    transform: scale(0, 1);
    transition: all 0.3s ease;
    content: "";
    display: inline-block;
    border-radius: 2px;
  }
  .navbar .nav-link:hover::before, .navbar .nav-link.active::before {
    transform: scale(1, 1);
  }
  .navbar .nav-link:hover, .navbar .nav-link.active {
    opacity: 1;
  }
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
